@charset "UTF-8";
.cp_title {
  text-align: center;
  font-size: 20px;

  span {
    width: auto;
    display: inline-block;

    &::after {
      position: relative;
      top: -15px;
      display: inline-block;
      content: '';
      width: 100%;
      height: 2px;
      // background-color: #4573de;
      background-color: #2C405A;
    }
  }
}
