@charset "UTF-8";
.code {
  padding: 80px 0 120px;
  border-top: 1px solid #e3e6e9;
  overflow: hidden;
  &_examples {
    position: relative;
    width: 900px;
    height: 400px;
    margin: 0 auto;
  }
  &_wrap {
    width: 900px;
    margin: 0 auto;
    height: 400px;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 0;
    opacity: 0;
    &.show {
      opacity: 1;
      z-index: 1;
    }
  }
  &_main {
    font-size: 14px;
    float: left;
    width: 70%;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 50px auto 0;
    max-height: 350px;
  }
  &_result {
    float: right;
    width: 29%;
    background-color: rgb(40, 42, 54);
    height: 350px;
    overflow: scroll;
    margin-top: 50px;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    padding: 100px 0;
    text-align: center;
    box-sizing: border-box;
  }
  &_switch {
    width: 48px;
    margin: 30px auto 0;
    position: relative;
    left: -5px;
    li {
      &.current {
        background-color: #4573DE;
      }
      cursor: pointer;
      background-color: #ECF5FD;
      float: left;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 2px solid #B0C8F4;
      margin-right: 10px;
    }
  }
}
