@charset "UTF-8";

.nav {
  &_overbanner {
    background-color: rgba(36, 40, 54, 0.8);
  }
  transition: all 0.3s ease;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  ul {
    // overflow: hidden;
    float: right;
  }
  li {
    font-size: 13px;
    color: #fff;
    line-height: 70px;
    list-style: none;
    float: left;
    margin: 0 15px;
  }
  a {
    color: #fff;
    &:hover {
      color: #A9A9A9;
    }
  }
  &_logo {
    background-image: url('../../static/images/logos/logo.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 85px;
    height: 30px;
    margin-top: 20px;
    float: left;
  }
  &_switch {
    span {
      padding: 3px 5px;
      border-radius: 4px;
      position: relative;

      &::before {
        content: '';
        width: 200%;
        height: 200%;
        position: absolute;
        border: 1px solid #fff;
        border-radius: 4px;
        transform: scale(0.5);
        transform-origin: top left;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
    &_hide {
      display: none;
    }
  }
}
